.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upperList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

.list p {
  font-size: 1.3rem;
}

.upperList p {
  font-size: 1.5rem;
}

.totalAmount {
  /* text-align: right; */
  font-size: 1.3rem;
  /* width: 60%; */
  justify-content: space-between;
}

.totalAmount button {
  padding: 0.5rem 2rem;
  margin: 0 2rem;
}
